<?xml version="1.0"?>
<launch>
    <!-- Launch MAVROS -->
    <include file="$(find mavros_pub)/launch/mavros.launch"/>
    
    <!-- Launch PWM publisher node -->
    <include file="$(find mavros_pub)/launch/pwm_pub.launch"/>

    <!-- <include file="$(find ros-qualisys)/launch/qualisys_bauzil_bringup.launch"/> -->

    <include file="$(find mavros_pub)/launch/qualisys_trans.launch"/>
</launch>

